*{
    color: black;
}
/*image*/
.css-1v0mbdj > img{
    border-radius: 50%;
    width: 90%;
    height: auto;
}

.stApp{
    background-color: white;
    color: white;

}

.element-container, .streamlit-expanderHeader{
    /* border: solid;
    background-color: #253746; */
}

/*title*/
.css-10trblm{
    padding: 5px;
    color: gray;
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    background-image: linear-gradient(white, white);
    background-size: 100% 10px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    transition: background-size .7s, background-position .5s ease-in-out;


}
/* title hover */

.css-1n76uvr:hover .css-10trblm{
    background-size: 100% 100%;
    background-position: 0 100%;
    transition: background-position .7s, background-size .5s ease-in-out;
}

/* description */

.css-5rimss > p{
    animation: slide-up 1s;
}

@keyframes slide-up{
    from{
        opacity: 0.2;
        line-height: 200px;
    }

    to{
        opacity:1;
        line-height: 25px;
    }
}


/* big area */
.block-container{
    background-color: #C4DFDF;
}